<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Навигация по таблицам</title>
    <style>
        body {
            background-color: #fff;
            color: #000;
            font-family: 'Press Start 2P', cursive;
            font-size: 16px;
            padding: 20px;
        }

        a {
            color: #000;
            text-decoration: none;
            display: block;
            margin-bottom: 10px;
        }
    </style>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>
<h1>Навигация по таблицам</h1>
<nav>
    <ul>
        <li><a href="table1.html">Забронированные комнаты</a></li>
        <li><a href="table2.html">Бронирования</a></li>
        <li><a href="table3.html">Корпусы</a></li>
        <li><a href="table4.html">Отзывы</a></li>
        <li><a href="table5.html">Этажи</a></li>
        <li><a href="table6.html">Гость бронирование</a></li>
        <li><a href="table7.html">Гость</a></li>
        <li><a href="table8.html">Организация бронирование</a></li>
        <li><a href="table9.html">Организация</a></li>
        <li><a href="table10.html">Прайс-лист</a></li>
        <li><a href="table11.html">Обслуживание номеров</a></li>
    </ul>
</nav>
</body>
</html>
