<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="./static/tables.css">
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
  <style>
    body {
      font-family: "Press Start 2P", serif;
    }
  </style>
    <title>Забронированные комнаты</title>
</head>
<body>
<div id="container">
  <div id="content">
    <h1>Комнаты</h1>
    <table class="rooms_table">
      <thead>
      <tr>
        <th>ID</th>
        <th> Room capacity</th>
        <th> Room cost</th>
        <th> Occupation status</th>
        <th> dummy</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="bookedRoom : ${bookedRooms}">
        <td th:text="${bookedRoom.id}"></td>
        <td th:text="${bookedRoom.capacity}"></td>
        <td th:text="${bookedRoom.cost}"></td>
        <td th:text="${bookedRoom.occupation_status}"></td>
        <td>
          <a th:href="@{/delete/{id} (id=${bookedRoom.id})}">DELETE</a>
          <a th:href="@{/edit/{id} (id=${bookedRoom.id})}">EDIT</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>